
<h3 style="border-bottom: 1px solid black;">Submit Your Encrypted Ballot</h3>

<p>
Your encrypted ballot is ready for submission.<br />
All plaintext information has been removed from memory: all that remains is the encrypted vote.<br />
</p>

<p>
Your encrypted vote fingerprint is:<br />
<b><tt style="font-size: 16pt;">{$T.encrypted_vote_hash}</tt></b>
</p>

<p>
According to the election definition file, this ballot will be submitted to:
</p>

<p><b><tt>{$T.cast_url}</tt></b></p>

<form method="POST" onsubmit="BOOTH.do_done();" action="{$T.cast_url}" id="send_ballot_form" target="_blank" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
<label for="submit">&nbsp;</label>
<input type="submit" value="send" class="pretty" />
</form>

